body {
  font-family: Arial, sans-serif;
    background-image: url('../images/pexels-ron-lach-8879368.jpg');
    background-size: cover;
  padding: 40px;
  text-align: center;
  color: #222;
}


button#start {
  background: #2ecc71;
   background: rgba(24, 116, 19, 0.5); /* 0.5 = 50% przezroczystości */
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}
html, body {
  height: 100%;
  margin: 0;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0a0a0a; /* lub Twój kolor */
  color: white;
  padding: 10px 20px;
  text-align: center;
  z-index: 999;
}


button#start:hover {
  background: #27ae60;
   background: rgba(177, 207, 27, 0.5); /* 0.5 = 50% przezroczystości */
  transform: scale(1.3);
}

#wynik {
  margin-top: 40px;
  background: white;
  background: rgba(255, 255, 255, 0.5); /* 0.5 = 50% przezroczystości */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#wynik h2 {
  margin-bottom: 5px;
  color: #000000;
   border-radius: 20px;
  box-shadow: 0 8px 20px rgba(13, 13, 13, 0.5);
}

#wynik p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}
