body {
  font-family: Arial, sans-serif;
    background-image: url('../images/pexels-ron-lach-8879368.jpg');
    background-size: cover;
  padding: 40px;
  text-align: center;
  color: #222;
}


button#start {
  background: #2ecc71;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

button#start:hover {
  background: #27ae60;
  transform: scale(1.05);
}

#wynik {
  margin-top: 40px;
  background: white;
  background: rgba(255, 255, 255, 0.5); /* 0.5 = 50% przezroczystości */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#wynik h2 {
  margin-bottom: 5px;
  color: #000000;
   border-radius: 12px;
  box-shadow: 0 4px 15px rgba(145, 28, 28, 0.1);
}

#wynik p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}
